<% if @order and @order.completed_at? %>
  <li><%= link_to(I18n.t("spree.packaging_slip_print"), spree.admin_order_path(@order, :pdf , :template => 'packaging_slip'), :class => "button fa fa-print") %></li>
<% end %>
